<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FROGI_OS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FROGI_OS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FROGI_OS.Properties.Settings.csBancoDados" connectionString="character set=WIN1252;data source=localhost;initial catalog=D:\frogios\FROGIOS_DESENVOLVIMENTO.FDB;user id=SYSDBA;password=masterkey;role=Admin"
            providerName="FirebirdSql.Data.FirebirdClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FROGI_OS.Properties.Settings>
            <setting name="csUser" serializeAs="String">
                <value>SYSDBA</value>
            </setting>
            <setting name="csPassword" serializeAs="String">
                <value>masterkey</value>
            </setting>
            <setting name="csDataBase" serializeAs="String">
                <value>D:\frogios\FROGIOS_DESENVOLVIMENTO.FDB</value>
            </setting>
            <setting name="csPort" serializeAs="String">
                <value>3050</value>
            </setting>
            <setting name="csRole" serializeAs="String">
                <value />
            </setting>
            <setting name="csConnectionLifeTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="csConnectionTimeOut" serializeAs="String">
                <value>7</value>
            </setting>
        </FROGI_OS.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FROGI_OS.Properties.Settings>
            <setting name="csDialect" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="csCharset" serializeAs="String">
                <value>WIN1252</value>
            </setting>
            <setting name="csPooling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="csPacketSize" serializeAs="String">
                <value>8192</value>
            </setting>
            <setting name="csServerType" serializeAs="String">
                <value>Default</value>
            </setting>
        </FROGI_OS.Properties.Settings>
    </applicationSettings>
</configuration>